.carousel {
  background-color: rgba(231, 111, 81, 0.1);
}

.footer-list {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.footer-list .list-item {
  margin-right: 15px;
}

@media screen and (max-width: 576px) {
  .footer-list {
    flex-direction: column;
  }
}
